html {
  scroll-behavior: smooth;
}


/* место для вашего кода */
/* Шапка */
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px;
  font-size: 18px;
  max-height: 293px;
}

.header__menu {
  justify-self: start;
}

.header__links-list {
  display: flex;
  gap: 32px;
  list-style: circle;
  margin-bottom: 15px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  text-underline-offset: 4px;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
  width: 148px;
}

.header__logo-image {
  width: 100%;
}

.header__address {
  justify-self: end;
  max-width: 240px;
  font-style: normal;
  line-height: 1.35;
  text-underline-offset: 4px;
  margin: 0 35px 6px 0;
}

/* Cover */
.cover {
  position: relative;
  padding: 165px 50px 50px 50px;
  height: 757px;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgb(0 0 0 / 0.6);
  z-index: 1;
}

.cover__title {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #fff;
  font-weight: bold;
  font-size: 100px;
  line-height: 1.15;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  z-index: 2;
}

.aligned-text {
  
  line-height: 1.15;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.aligned-text_center {
  width: 339px;
  margin: 0 auto 0 auto;
  
}

.aligned-text_right {
  margin-left: auto;
  width: 387px;
}





.cover__description {
  position: relative;
  display: flex;
  gap: 107px;
  margin: 106px 0 50px 0;
  z-index: 2;
}

.cover__description-text {
  color: #fff;
  font-size: 22px;
  line-height: 1.27;
  text-transform: uppercase;
  word-spacing: 18px;
  margin: 12px 0 11px 0;
}

.bet-button {
  border: 1px solid #fff;
  padding: 12px 32px;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
    margin-bottom: 50px;

}

/* Lots */
.lots {
  margin: 180px 24px 0 24px;
}

.lots__heading {
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  margin: 0 0 27px 40px;
  line-height: 47px;
  color: rgba(0, 0, 0, 1);
}

.lots__card-list {
  display: grid;
  grid-template-columns: repeat(3, 334px);
  gap: 25px;
  justify-content: center;
  list-style: none;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 596px;
  width: 334px; 
  padding: 48px 40px 48px 40px;
  color: #fff;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
}

.card::before {
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 26.4px;
  text-decoration: underline;
  text-transform: uppercase;
  text-underline-offset: 4px;
  color: rgba(255, 255, 255, 1);
  position: relative;
  z-index: 2;
}



.card__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: rgba(255, 255, 255, 1);
  position: relative;
  z-index: 2;
  width: 254px;
  margin-top: auto;       
}

.lots__look-more-link {
  display: inline-block;
  margin: 30px 0 0 40px;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.01em;
  line-height: 23px;
  color: rgba(0, 0, 0, 0.6);
  text-underline-offset: 4px;
}



/* About */
.about {
  margin: 120px 24px 0 24px;
  display: grid;
  gap: 72px;
  grid-template-columns: min-content 1fr;
}

.about__column {
  display: flex;
  flex-direction: column;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
  margin: 35px 0 0 47px;
}

.about__logo-image {
  width: 148px;
}

.about__title {
  margin: 136px 0 100px 0;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 20px;
  line-height: 1.2;
}


/* Footer */
.footer {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: start;
  margin: 180px 50px 0 50px;
  font-size: 18px;
}

.footer_address {
  max-width: 240px;
  font-style: normal;
  line-height: 1.35;
  text-underline-offset: 4px;
}

.footer__menu {
  justify-self: center;
  
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.footer__menu-link {
  text-underline-offset: 4px;
  white-space: nowrap; 
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  justify-self: end;
  list-style: none;
}

.footer__social-link {
  display: block;
}

.footer__social-icon {
  width: 48px;
}